api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: false
    formats:
        json:
            mime_types: ['application/json']
        jsonld:
            mime_types: ['application/ld+json']
    patch_formats:
        json: ['application/merge-patch+json']
    docs_formats:
        jsonld:
            mime_types: ['application/ld+json']
        json:
            mime_types: ['application/json']